/* Définition de la police */
@font-face 
{
font-family: 'ralewayregular';
src: url('police/raleway-regular-webfont.eot');
src: url('police/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('police/raleway-regular-webfont.woff') format('woff'),
        url('police/raleway-regular-webfont.ttf') format('truetype'),
        url('police/raleway-regular-webfont.svg#ralewayregular') format('svg');
font-weight: normal;
font-style: normal;
}

/* Ensemble du site */
body
{
font-family: 'ralewayregular', serif;
}

/* Page principale */
#bloc_page
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1300px;
}

/* Menu */
#menu
{
    display: flex;
    height: 70px;
    margin: 0 2% 1% 2%; 
}

/* Modification smartphone */
@media (max-device-width: 500px)
{
    #menu
    {
        flex-wrap: wrap;
        margin: 7% 0 1% 0;
        height: 100px;
        border-bottom: 2px solid #f2f2ff;
    }
}

/* Logo du menu */
.menu_logo
{
    display: flex;
    align-items: flex-end;
    width: 72%;
}

.menu_logo img
{
    width: 80px;
}

/* Modification smartphone */
@media (max-device-width: 500px)
{
    .menu_logo
    {
        align-items: center;
        padding-left: 5%;
    }
}

/* Titres de commande du menu */
.menu_titre
{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    text-decoration: none;
}

.menu_titre-page
{
    padding: 27px 25px 27px 25px;
    color: black;
}

/* Modification smartphone */
@media (max-device-width: 500px)
{
    .menu_titre-page
    {
        justify-content: center;
        order: 2;
        width: 100%;
        padding: 15px 0 15px 0;
    }
}

.menu_titre-page a:hover
{
    color:#0065FC;
}

.menu_titre-page-hebergements:hover
{
    border-top: 2px solid #0065FC;
    color:#0065FC;
}

/* Modification smartphone */
@media (max-device-width: 500px)
{
    .menu_titre-page-hebergements:hover
    {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
}

.menu_titre-autre
{
    color:#0065FC;
    font-weight: bold;
}

.menu_titre-autre a:hover
{
    color: black;
}

/* Recherche */
/* Slogan de la recherche */
#recherche
{
    display: flex;
    flex-direction: column;
    margin: 1% 2% 1% 2%;
    min-height: 220px;
}

/* Modification smartphone */
@media (max-device-width: 500px)
{
    #recherche
    {
        margin: 1% 0 3% 0;
    }
}

.recherche_slogan h1
{
    font-size: 1.1rem;
    margin: 1% 0 0.5% 0;
}

.recherche_slogan p
{
    font-size: 0.8rem;
    margin: 0.5% 0 1% 0;
}

/* Modification smartphone */
@media (max-device-width: 500px)
{
    .recherche_slogan h1
    {
        font-size: 1.3rem;
        margin: 2% 0 2% 0;
    }

    .recherche_slogan p
    {
        font-size: 1rem;
        margin-bottom: 5%;
    }
}


/* Lieu de la recherche */
.recherche_lieu
{
    display: flex;
    width: 300px;
    height: 35px;
    margin: 1.5% 0 0.5% 0;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .recherche_lieu
    {
        width: 350px;
        height: 45px;
        margin: 1.5% 0 1.5% 0;
    }
}

.recherche_lieu label
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f2f2f2;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .recherche_lieu label
    {
        width: 50px;
        height: 45px;
    }
}

.recherche_lieu input
{
    padding-left: 10px;
    width: 160px;
    height: 35px;
    border: 3px solid #f2f2ff;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .recherche_lieu input
    {
        font-size: 1rem;
        width: 200px;
        height: 45px;
        margin-right: -10px;
    }
}

.recherche_lieu button
{
    width: 100px;
    height: 35px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:white;
    background-color: #0065FC;
}

.recherche_lieu-texte
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.recherche_lieu-icone
{
    display: none;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .recherche_lieu button
    {
        width: 45px;
        height: 45px;
        border-radius: 10px;
    }

    .recherche_lieu-texte
    {
        display: none;
    }

    .recherche_lieu-icone
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Filtre sur le lieu */
.recherche_filtre
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.7rem;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .recherche_filtre
    {
        font-size: 0.8rem;
        margin: 1.5% 0 1.5% 0;
    }
}

.recherche_filtre-libelle
{
    margin-right: 30px;
}

.recherche_filtre-liste
{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border-left: none;
    border-radius: 30px;
}

.recherche_filtre-liste-bouton
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding-right: 20px;
    border: 3px solid #f2f2f2;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: bold;
    height: 30px;
    background-color: white;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .recherche_filtre-liste-bouton
    {
        font-size: 1rem;
        height: 40px;
    }
}

/* modification smartphone et tablette */
@media (max-device-width: 750px)
{
    .recherche_filtre-liste-bouton
    {
        margin-bottom: 10px;
    }
}

.recherche_filtre-liste-bouton i
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 -5px;
    border-radius: 30px;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 13px;
    width: 30px;
    height: 30px;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .recherche_filtre-liste-bouton i
    {
        font-size: 15x;
        width: 40px;
        height: 40px;
    }
}

.recherche_filtre-liste-bouton:hover
{
    color: #0065FC;
}

/* Information de la recherche */
.recherche_info
{
    display: flex;
    align-items: center;
    margin: 0.5% 0 1% 0;
}

.recherche_info i
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: #f2f2ff;
    border-radius: 30px;
    color: #0065FC;
    text-decoration: none;
    font-size: 10px;
    width: 18px;
    height: 18px;
}

.recherche_info p
{
    margin-left: 10px;
    font-size: 0.8rem; 
}

/* Hébergement */
#hebergement
{
    display: flex;
    margin: 1% 2% 1% 2%;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    #hebergement
    {
        flex-direction: column;
        flex-wrap: wrap;
        margin: 1% 0 1% 0;
    }
}

/* modification tablette */
@media (min-device-width: 501px) and (max-device-width: 920px)
{
    #hebergement
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* Couleurs des étoiles de notation */
.fas.fa-star.blue
{
    color: #0065FC;
}

.fas.fa-star.grey
{
    color: #f2f2f2;
}

/* hébergement général */
.hebergement_general
{
    display: flex;
    flex-direction: column;               
    width: 68%;
    height: 550px;
    margin-right: 2%;
    border-radius: 20px;
    background-color: #f2f2f2;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .hebergement_general
    {
        width: auto;
        height: auto;
        background-color: white;
    }
}

/* modification tablette */
@media (min-device-width: 501px) and (max-device-width: 920px)
{
    .hebergement_general
    {
        width: 100%;
    }
}

/* Titre de l'hébergement général */
.hebergement_general-titre
{
    margin: 3.1% 3% 0 3.1%;
}

.hebergement_general-titre h1
{
    font-size: 1.1rem;
}

/* Déscriptif de l'hébergement général */
.hebergement_general-descriptif
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    padding: 0 2% 0 2%;
    height: 74%;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .hebergement_general-descriptif
    {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 1200px;
    }
}

.hebergement_general-descriptif-lieu
{
    display: flex;
    flex-direction: column;
    width: 29%;
    height: 38%;
    min-height: 170px;
    margin: 1.5%;
    padding: 0.5%;
    border-radius: 20px;
    background-color:white;
    color: black;
    text-decoration: none;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .hebergement_general-descriptif-lieu
    {
        width: auto;
    }
}

.hebergement_general-descriptif-lieu img
{
    height: 50%;
    min-height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .hebergement_general-descriptif-lieu img
    {
        height: 110px;
    }
}

.hebergement_general-descriptif-lieu h2
{
    font-size: 0.9rem;
    margin: 3% 0 1% 3%;
}

.hebergement_general-descriptif-lieu p
{
    font-size: 0.8rem;
    margin: 1% 0 1% 3%;
}

.hebergement_general-descriptif-lieu-note
{
    margin: 2% 0 1% 3%;
    font-size: 8px;
}

/* Bouton d'afficher Plus */

.hebergement_general-bouton nav ul
{
    list-style: none;
}

.hebergement_general-bouton nav a
{
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.hebergement_general-bouton nav a:hover
{
    color: #0065FC;
}

/* Hébergement Populaire */
.herbergement_populaire
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 550px;
    border-radius: 20px;
    background-color: #f2f2f2;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .herbergement_populaire
    {
        width: auto;
        order: -1;
        border-radius: 0;
    }
}

/* modification tablette */
@media (min-device-width: 501px) and (max-device-width: 920px)
{
    .herbergement_populaire
    {
        width: auto;
        max-height: 300px;
        margin-bottom: 30px;
        order: -1;
    }
}

/* Titre de l'hebergement populaire */
.herbergement_populaire-titre
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 7% 0 7%;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .herbergement_populaire-titre
    {
        margin: 5% 4% 0 4%;
    }
}

/* modification tablette */
@media (min-device-width: 501px) and (max-device-width: 920px)
{
    .herbergement_populaire-titre
    {
        margin: 3.1% 3% 0 3.1%;
    }
}

.herbergement_populaire-titre h1
{
    font-size: 1.1rem;
    margin-right: 10px;
}

.herbergement_populaire-titre i
{
    font-size: 0.9rem;
}

/* Déscriptif sur l'herbergement populaire */
.herbergement_populaire-descriptif
{
    display: flex;
    flex-direction: column;
    margin: 3%;
    height: 83%;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .herbergement_populaire-descriptif
    {
        margin: 1%;
    }
}

/* modification tablette */
@media (min-device-width: 501px) and (max-device-width: 920px)
{
    .herbergement_populaire-descriptif
    {
        flex-direction: row;
        margin: 1%;
    }
}

.herbergement_populaire-descriptif-lieu
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 30%;
    margin: 4%;
    min-height: 100px;
    padding: 1%;
    border-radius: 20px;
    background-color:white;
    color: black;
    text-decoration: none;
}

/* modification smartphone */
@media (max-device-width: 480px)
{
    .herbergement_populaire-descriptif-lieu
    {
        margin: 2%;
    }
}

/* modification tablette */
@media (min-device-width: 501px) and (max-device-width: 920px)
{
    .herbergement_populaire-descriptif-lieu
    {
        margin: 2%;
        padding: 0.5%;
        height: 75%;
        max-height: 180px;
        width: 29%;
    }
}

.herbergement_populaire-descriptif-lieu img
{
    width: 40%;    
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.herbergement_populaire-descriptif-lieu h2
{
    width: 50%;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.herbergement_populaire-descriptif-lieu p
{
    width: 50%;
    font-size: 0.8rem;
    margin-top: 2%;
}

.herbergement_populaire-descriptif-lieu-note
{
    margin-top: auto;
    margin-bottom: 3%;
    font-size: 8px;
}


/* Activité */
#activite
{
    margin: 1% 2% 1% 2%;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    #activite
    {
        width: 1200px;
        max-width: 100%;
        margin: 1% 0 1% 0;
    }
}

/* Titre d'activité */
.activite_titre h1
{
    font-size: 1rem;
}

/* Détail de l'activité */
.activite_descriptif
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 350px;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .activite_descriptif
    {
        flex-wrap: nowrap;
        height: auto;
    }
}

.activite_descriptif-lieu
{
    display: flex;
    flex-direction: column;
    width: 23%;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    color: black;
    text-decoration: none;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .activite_descriptif-lieu
    {
        width: auto;
        margin: 3% 0 3% 0;
    }
}

.activite_descriptif-lieu-grand
{
    height: 350px;
}

.activite_descriptif-lieu-moyen
{
    height: 190px;
}

.activite_descriptif-lieu-petit
{
    height: 130px;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .activite_descriptif-lieu-grand, .activite_descriptif-lieu-petit
    {
        height: 190px;
    }
}

.activite_descriptif-lieu img
{
    height: 70%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.activite_descriptif-lieu-grand img
{
    min-height: 310px;
}

.activite_descriptif-lieu-moyen img
{
    min-height: 150px;
}

.activite_descriptif-lieu-petit img
{
    min-height: 90px;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .activite_descriptif-lieu-grand img, .activite_descriptif-lieu-petit img
    {
        min-height: 150px;
    }
}

.activite_descriptif-lieu h2
{
    font-size: 0.9rem;
    padding-left: 5%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* informations diverses */
#info
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: 2%;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    #info
    {
        flex-direction: column;
    }
}

.info_apropos, .info_hebergement, .info_assistance
{
    width: 27%;
    margin: 2% 0 0 2%;
}

/* modification smartphone */
@media (max-device-width: 500px)
{
    .info_apropos, .info_hebergement, .info_assistance
    {
        width: 96%;
    }
}

/* Titres de : A propos, Nos hebergements & Assistance */
.info_apropos-titre h1, .info_hebergement-titre h1, .info_assistance-titre h1
{
    font-size: 1.1rem;
}

/* Listes de : A propos, Nos hebergements & Assistance */
.info_apropos nav ul, .info_hebergement nav ul, .info_assistance nav ul
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

.info_apropos nav li, .info_hebergement nav li, .info_assistance nav li
{
    padding-bottom: 5px;
}

.info_apropos nav a, .info_hebergement nav a, .info_assistance nav a
{
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
}

.info_apropos nav a:hover, .info_hebergement nav a:hover, .info_assistance nav a:hover
{
    color: #0065FC;
}