/* Définition de la police*/
@font-face 
{
font-family: 'ralewayregular';
src: url('police/raleway-regular-webfont.eot');
src: url('police/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('police/raleway-regular-webfont.woff') format('woff'),
        url('police/raleway-regular-webfont.ttf') format('truetype'),
        url('police/raleway-regular-webfont.svg#ralewayregular') format('svg');
font-weight: normal;
font-style: normal;
}

/* Ensemble du site */
body
{
font-family: 'ralewayregular', serif;
}

/* Page principale */
#bloc_page
{
    margin: 3% 2% 0 2%;
}

/* Partie du titre*/
#Titre
{
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

/*Logo du site*/
#logo
{
    display: flex;
    align-items: flex-end;
}

#Logo img
{
    width: 80px;
}

/*Bouton de commande du Titre*/
#bouton_titre nav ul
{
    display: flex;
    list-style: none;
}

#bouton_titre nav li
{
    margin-left: 3rem;
}

#bouton_titre nav a
{
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
}

#bouton_titre nav a:hover
{
    color: #0065FC;
}

#bouton_titre nav a:focus
{
    color: #0065FC;
}

/* Partie du menu */
/* Slogan du titre */
#slogan_titre
{
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
}

#slogan_titre
h1
{
    font-size: 1rem;
    margin: 0 0 5px 0;
}

#slogan_titre
p
{
    font-size: 0.7rem;
    margin: 0px;
}

/* Recherche du lieu */
#recherche
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    height: 35px;
    margin: 10px 0 10px 0;
}

#recherche label
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 35px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f2f2f2;
}

#recherche input
{
    padding-left: 10px;
    width: 160px;
    height: 35px;
    border: none;
}

#recherche button
{
    width: 100px;
    height: 35px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:white;
    background-color: #0065FC;
}

/* Filtre sur le lieu */
#filtre
{
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    margin: 20px 0 20px 0;
}
#filtre_libelle
{
    margin-right: 30px;
}

#filtre_liste
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-left: none;
    border-radius: 30px;
}

#filtre_liste button
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #DEEBFF;
}

.bouton_filtre_liste
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding-right: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    font-size: 0.8rem;
    font-weight: 600;
    height: 30px;
}

#filtre_liste i
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    border-radius: 30px;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 13px;
    width: 30px;
    height: 30px;
}

.bouton_filtre_liste:hover
{
    color: #0065FC;
}

/* Slogan des logements */
#slogan_logements
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 0 0 20px 0;
}

#slogan_logements
i
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 30px;
    color: #0065FC;
    text-decoration: none;
    font-size: 10px;
    width: 18px;
    height: 18px;
}

#slogan_logements p
{
    display: flex; 
    margin-left: 10px;
    font-size: 0.7rem; 
}

/* Partie sur tous les hébergements */
#tous_hebergement
{
    display: flex;
    margin: 10px 0 10px 0;
}
/* Partie sur les hébergements à Marseille */
#hebergement
{
    display: flex;
    flex-direction: column;               
    width: 68%;
    height: 550px;
    margin-right: 2%;
    border-radius: 20px;
    background-color: #f2f2f2;
}

/* Titre de l'hébergement */
#titre_hebergement
{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin: 2.5% 3% 0 3%;
}

#titre_hebergement h1
{
    font-size: 1rem;
}

/* Détail sur les hébergements */
#detail_hebergement
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    padding: 0 2% 0 2%;
    height: 76%;
}

.descriptif_hebergement
{
    display: flex;
    flex-direction: column;
    width: 29%;
    height: 38%;
    min-height: 160px;
    margin: 1.5%;
    padding: 0.5%;
    border-radius: 20px;
    background-color:white;
}

.descriptif_hebergement img
{
    display: flex;   
    height: 50%;
    min-height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.descriptif_hebergement h2
{
    display: flex;
    font-size: 0.8rem;
    margin: 3% 0 1% 3%;
}

.descriptif_hebergement p
{
    display: flex;
    font-size: 0.7rem;
    margin: 1% 0 1% 3%;
}

.note_hebergement
{
    display: flex;
    margin: 2% 0 1% 3%;
}

.note_hebergement i
{
    display: flex;
    font-size: 8px;
}

/* Bouton d'afficher Plus */
#afficher_plus
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#afficher_plus nav ul
{
    list-style: none;
}

#afficher_plus nav a
{
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

#afficher_plus nav a:hover
{
    color: #0065FC;
}

/* Partie sur les plus Populaires */
#populaire
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 550px;
    border-radius: 20px;
    background-color: #f2f2f2;
}

/* Titre des populaires */
#titre_populaire
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:5% 6% 0 6%;
}

#titre_populaire h1
{
    display: flex;
    font-size: 1rem;
    margin-right: 10px;
}

#titre_populaire i
{
    display: flex;
    font-size: 0.9rem;
}

/* Détail sur les populaires */
#detail_populaire
{
    display: flex;
    flex-direction: column;
    margin: 3%;
    height: 85%;
}

.descriptif_populaire
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 33%;
    margin: 3%;
    min-height: 110px;
    padding: 1%;
    border-radius: 20px;
    background-color:white;
}

.descriptif_populaire img
{
    display: flex;
    width: 40%;    
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.descriptif_populaire h2
{
    display: flex;
    width: 50%;
    font-size: 0.8rem;
    margin-bottom: 0;
}

.descriptif_populaire p
{
    display: flex;
    width: 50%;
    font-size: 0.7rem;
    margin-top: 2%;
}

.note_populaire
{
    display: flex;
    margin-top: auto;
    margin-bottom: 3%;
}

.note_populaire i
{
    display: flex;
    font-size: 8px;
}

/* Partie sur l'activités à Marseille */
#activites
{
    display: flex;
    flex-direction: column;
    margin: 30px 0 50px 0;
}

/* Titre des activités */
#titre_activite
{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

#titre_activite h1
{
    display: flex;
    font-size: 1rem;
}

/* Détail sur les activités */
#detail_activite
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 350px;
}

.detail_activite_grand
{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 345px;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
}


.detail_activite_grand img
{
    display: flex;    
    height: 70%;
    min-height: 295px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.detail_activite_grand h2
{
    display: flex;
    font-size: 0.8rem;
    padding-left: 5%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.detail_activite_moyen
{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 190px;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
}

.detail_activite_moyen img
{
    display: flex;    
    height: 70%;
    min-height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.detail_activite_moyen h2
{
    display: flex;
    font-size: 0.8rem;
    padding-left: 5%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.detail_activite_petit
{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 130px;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
}

.detail_activite_petit img
{
    display: flex;    
    height: 70%;
    min-height: 90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.detail_activite_petit h2
{
    display: flex;
    font-size: 0.8rem;
    padding-left: 5%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*Partie sur les informations diverses*/
#bas_page
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #f2f2f2;
    margin: 0% -2% 0 -2%;
}

#a_propos, #nos_hebergements, #assistance
{
    width: 33%;
    height: auto;
    margin: 2% 2% 2% 2%;
}

/* A propos, Nos hebergements & Assistance */
#titre_a_propos, #titre_nos_hebegements, #titre_assistance
{
    display: flex;
    justify-content: start;
}

/* Titres de : A propos, Nos hebergements & Assistance */
#titre_a_propos h1, #titre_nos_hebegements h1, #titre_assistance h1
{
    display: flex;
    font-size: 1rem;
}

/* Listes de : A propos, Nos hebergements & Assistance */
#a_propos nav ul, #nos_hebergements nav ul, #assistance nav ul
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

#a_propos nav li, #nos_hebergements nav li, #assistance nav li
{
    display: flex;
    padding-bottom: 5px;
}

#a_propos nav a, #nos_hebergements nav a, #assistance nav a
{
    display: flex;
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
}

#a_propos nav a:hover, #nos_hebergements nav a:hover, #assistance nav a:hover
{
    color: #0065FC;
}